@mixin lazy-menu-anim($delay, $direction: left) {
    transform: scaleX(0);
    opacity: 0;
    animation: menu-lazy-in .5s forwards;
    animation-delay: #{$delay};
    transform-origin: $direction 100%;
}