@mixin lazy-menu-anim($delayIn, $delayUp, $duration: .5s) {
    animation: menu-lazy-in $duration $delayIn forwards ease-out, menu-lazy-up $duration $delayUp forwards ease-out;
    transform-origin: bottom;
    opacity: 0;
}