@keyframes heart {
    from {
        transform: scale(1);
    }

    50% {
        opacity: .5;
        transform: scale(2.2);
    }
  
    to {
        transform: scale(1.5);
    }
}
@keyframes heart-reverse {
    from {
        transform: scale(1.5);
    }
  
    to {
        transform: scale(1);
    }
}
@keyframes heart-fill {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1);
    }
}
@keyframes heart-fill-reverse {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0);
    }
}


.heart {
    cursor: pointer;
    display: flex;
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    position: relative;
    animation: heart-reverse 800ms forwards;

    svg:first-child {
        color: rgb(216, 112, 112);
    }

    svg:last-child {
        color: rgb(164, 45, 45);
        position: absolute;
        animation: heart-fill-reverse 800ms forwards;
    }
 
    &:hover {
        animation: heart 800ms forwards;
        svg:last-child {
            animation: heart-fill 800ms forwards;
        }
    }
}