@keyframes heart {
    from {
        color: rgb(216, 112, 112);
        transform: scale(1);
    }

    50% {
        opacity: .3;
        transform: scale(2.2);
    }
  
    to {
        transform: scale(1.5);
        color: rgb(164, 45, 45);
    }
  }


  .heart {
    cursor: pointer;
    display: flex;
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    position: relative;

    svg:first-child {
        color: rgb(216, 112, 112);
    }

    svg:last-child {
        position: absolute;
        transform: translateY(100px);
    }
 
    &:hover {
        animation: ease-in-out heart 400ms both;
        svg:last-child {
            transform: translateY(0);
        }
    }
  }