footer {
    background-color: #353535;
    color: #fff;

    div {
        padding: 20px;

        h2 {
            font-weight: bold;
            font-family: Shrikhand, Arial, sans-serif;
            margin-bottom: 15px;
        }

        ul li {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #fff;
            }

            i {
                width: 24px;
            }
        }
    }
}