@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: Roboto, Arial, sans-serif; }

html, body, *, *:before, *:after {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.btn {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 160px;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 1px 5px 8px #c3c3c3;
  margin: 5px;
  color: #FFF;
  transition-duration: 200ms;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  cursor: pointer;
  opacity: 1;
  font-size: 1em; }
  .btn:hover {
    transition-duration: 400ms;
    opacity: .75;
    box-shadow: 3px 10px 16px #c3c3c3; }

@-webkit-keyframes loader-rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loader-rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes loader-fadeOut {
  from {
    transform: scale(1); }
  from, to {
    background-color: transparent; }
  to {
    transform: scale(0);
    display: none; } }

@keyframes loader-fadeOut {
  from {
    transform: scale(1); }
  from, to {
    background-color: transparent; }
  to {
    transform: scale(0);
    display: none; } }

.heart {
  cursor: pointer;
  display: flex;
  height: 1.3em;
  width: 1.3em;
  position: relative;
  transform: scale(1);
  transition: transform .2s linear; }
  .heart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, 0) 100%) no-repeat;
    background-position: -140px 0; }
  .heart svg {
    width: 100%;
    color: #6c27be;
    position: absolute; }
    .heart svg:last-child {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.2s 0.2s linear, opacity 0.2s 0.2s linear;
      transform-origin: center 80%; }
  .heart:hover {
    transition: transform .2s .4s linear;
    transform: scale(1.5); }
    .heart:hover::after {
      transition: background-position 1s;
      background-position: 10px 0; }
    .heart:hover svg:first-child {
      color: #c9abee;
      z-index: 10; }
    .heart:hover svg:last-child {
      transition: transform 0.4s linear, opacity 0.4s linear;
      transform: scale(1);
      opacity: 1; }

#loading-spinner {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader-fadeOut .6s 2s ease-in-out forwards;
          animation: loader-fadeOut .6s 2s ease-in-out forwards; }
  #loading-spinner div {
    width: 160px;
    height: 160px;
    border: 3px solid #c9c9c9;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 0px #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; }
    #loading-spinner div::before {
      content: "";
      position: absolute;
      z-index: -10;
      width: 160px;
      height: 160px;
      border-top: 3px solid #9356DC;
      border-radius: 50%;
      box-shadow: 0px -5px 12px 0px #9356DC;
      -webkit-animation: loader-rotating 1s linear infinite;
              animation: loader-rotating 1s linear infinite; }
    #loading-spinner div span {
      font-family: Shrikhand, Arial, sans-serif;
      font-size: 1.3em; }

#menu section article > div:last-child {
  transition: flex .2s linear, opacity .2s linear, margin-right .2s .2s;
  display: flex;
  overflow: hidden;
  opacity: 0;
  color: #FFF;
  font-size: 1.3em;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
  flex: 0 0 0; }
  #menu section article > div:last-child i {
    font-size: 1.5em;
    transition: width .4s linear, transform .2s linear;
    width: 0;
    transform: rotate(90deg); }

#menu section article:hover div:first-child {
  transition-duration: 400ms;
  flex: 1 0 70%; }

#menu section article:hover span {
  flex: 0 0 15px;
  margin-right: 15px; }

#menu section article:hover div:last-child {
  transition: margin-right 0s, flex .4s linear, opacity .4s linear;
  opacity: 1;
  flex: 0 0 80px;
  margin-right: -15px; }
  #menu section article:hover div:last-child i {
    transition: transform .4s linear;
    transform: rotate(360deg);
    width: 32px; }

footer {
  background-color: #353535;
  color: #fff; }
  footer div {
    padding: 20px; }
    footer div h2 {
      font-weight: bold;
      font-family: Shrikhand, Arial, sans-serif;
      margin-bottom: 15px; }
    footer div ul li {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px; }
      footer div ul li a {
        text-decoration: none;
        color: #fff; }
      footer div ul li i {
        width: 24px; }

header {
  display: flex;
  flex-direction: column; }
  header figure {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 2px #cfcfcf;
    margin-bottom: 3px; }
    header figure img {
      margin-top: 10px;
      width: 10em; }

section {
  padding: 20px; }

#localization {
  background-color: #eaeaea;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-weight: bold; }
  #localization i {
    margin-right: 10px;
    font-size: 1.1em; }

main #top-info {
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main #top-info h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 30px 0 10px 0; }
  main #top-info p {
    margin-bottom: 20px;
    font-weight: 100; }
  main #top-info a {
    margin-bottom: 40px; }

main #work {
  margin-top: 20px; }
  main #work h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 20px; }
  main #work ol {
    display: flex;
    flex-direction: column;
    counter-reset: li;
    margin-left: 8px; }
    @media screen and (min-width: 768px) {
      main #work ol {
        flex-direction: row;
        flex-wrap: wrap; } }
    main #work ol li {
      display: flex;
      align-items: center;
      transition-duration: 400ms;
      background-color: #f6f6f6;
      box-shadow: 0px 6px 8px #e5e5e5;
      margin-bottom: 20px;
      border-radius: 15px;
      height: 60px; }
      @media screen and (min-width: 768px) {
        main #work ol li {
          flex: 1 0 45%;
          margin-right: 3%; } }
      @media screen and (min-width: 992px) {
        main #work ol li {
          flex-basis: 30%; } }
      main #work ol li:hover {
        transition-duration: 400ms;
        background: #f2eafb; }
        main #work ol li:hover i {
          transition-duration: 400ms;
          color: #9356DC; }
      main #work ol li::before {
        content: counter(li);
        counter-increment: li;
        background-color: #9356DC;
        border-radius: 50%;
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        margin-left: -12px; }
      main #work ol li i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        transition-duration: 400ms;
        color: #000; }

main #restaurants {
  background-color: #f6f6f6; }
  main #restaurants div {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      main #restaurants div {
        flex-direction: row;
        flex-wrap: wrap; } }
    main #restaurants div h2 {
      font-size: 1.3em;
      font-weight: bold;
      margin: 20px 0;
      flex-basis: 100%; }
    main #restaurants div article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #FFF;
      height: 250px;
      margin-bottom: 15px;
      border-radius: 15px;
      box-shadow: 1px 3px 6px #e7e7e7;
      position: relative; }
      @media screen and (min-width: 768px) {
        main #restaurants div article {
          flex: 1 0 45%;
          margin-right: 1%; } }
      main #restaurants div article a {
        text-decoration: none;
        color: #000; }
        main #restaurants div article a span {
          position: absolute;
          top: 15px;
          right: 15px;
          background-color: #99e2d0;
          color: #30a387;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;
          height: 32px;
          padding: 0 15px; }
        main #restaurants div article a h3 {
          font-weight: bold;
          margin-left: 15px; }
        main #restaurants div article a p {
          font-weight: 100;
          margin-left: 15px;
          margin-bottom: 15px;
          line-height: 24px; }
      main #restaurants div article figure:first-child {
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        flex-basis: 100%;
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        main #restaurants div article figure:first-child img {
          width: 100%; }
      main #restaurants div article .heart {
        margin-right: 20px;
        margin-bottom: auto; }

