@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: Roboto, Arial, sans-serif; }

html, body, *, *:before, *:after {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.btn {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 160px;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 1px 5px 8px #c3c3c3;
  margin: 5px;
  color: #FFF;
  transition-duration: 200ms;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  cursor: pointer;
  opacity: 1;
  font-size: 1em; }
  .btn:hover {
    transition-duration: 400ms;
    opacity: .75;
    box-shadow: 3px 10px 16px #c3c3c3; }

@-webkit-keyframes loader-rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loader-rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes loader-fadeOut {
  from {
    transform: scale(1); }
  from, to {
    background-color: transparent; }
  to {
    transform: scale(0);
    display: none; } }

@keyframes loader-fadeOut {
  from {
    transform: scale(1); }
  from, to {
    background-color: transparent; }
  to {
    transform: scale(0);
    display: none; } }

@-webkit-keyframes menu-lazy-in {
  from {
    transform: scaleY(0);
    opacity: 0; }
  to {
    opacity: 1;
    transform: scaleY(1); } }

@keyframes menu-lazy-in {
  from {
    transform: scaleY(0);
    opacity: 0; }
  to {
    opacity: 1;
    transform: scaleY(1); } }

#menu section:nth-of-type(1) {
  transform: scaleY(0);
  opacity: 0;
  -webkit-animation: menu-lazy-in .5s forwards;
          animation: menu-lazy-in .5s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  transform-origin: top; }
  #menu section:nth-of-type(1) article:nth-of-type(1) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    transform-origin: top; }
  #menu section:nth-of-type(1) article:nth-of-type(2) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    transform-origin: top; }
  #menu section:nth-of-type(1) article:nth-of-type(3) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
    transform-origin: top; }
  #menu section:nth-of-type(1) article:nth-of-type(4) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
    transform-origin: top; }

#menu section:nth-of-type(2) {
  transform: scaleY(0);
  opacity: 0;
  -webkit-animation: menu-lazy-in .5s forwards;
          animation: menu-lazy-in .5s forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  transform-origin: top; }
  #menu section:nth-of-type(2) article:nth-of-type(1) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
    transform-origin: top; }
  #menu section:nth-of-type(2) article:nth-of-type(2) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
    transform-origin: top; }
  #menu section:nth-of-type(2) article:nth-of-type(3) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
    transform-origin: top; }
  #menu section:nth-of-type(2) article:nth-of-type(4) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    transform-origin: top; }

#menu section:nth-of-type(3) {
  transform: scaleY(0);
  opacity: 0;
  -webkit-animation: menu-lazy-in .5s forwards;
          animation: menu-lazy-in .5s forwards;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  transform-origin: top; }
  #menu section:nth-of-type(3) article:nth-of-type(1) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
    transform-origin: top; }
  #menu section:nth-of-type(3) article:nth-of-type(2) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
    transform-origin: top; }
  #menu section:nth-of-type(3) article:nth-of-type(3) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 2.7s;
            animation-delay: 2.7s;
    transform-origin: top; }
  #menu section:nth-of-type(3) article:nth-of-type(4) {
    transform: scaleY(0);
    opacity: 0;
    -webkit-animation: menu-lazy-in .5s forwards;
            animation: menu-lazy-in .5s forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    transform-origin: top; }

.heart {
  cursor: pointer;
  display: flex;
  height: 1.3em;
  width: 1.3em;
  position: relative;
  transform: scale(1);
  transition: transform .2s linear; }
  .heart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, 0) 100%) no-repeat;
    background-position: -140px 0; }
  .heart svg {
    width: 100%;
    color: #6c27be;
    position: absolute; }
    .heart svg:last-child {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0);
      transition: transform .2s .2s linear, opacity .2s .2s linear;
      transform-origin: center 80%; }
  .heart:hover {
    transition: transform .2s .4s linear;
    transform: scale(1.5); }
    .heart:hover::after {
      transition: background-position 1s;
      background-position: 10px 0; }
    .heart:hover svg:first-child {
      color: #c9abee;
      z-index: 10; }
    .heart:hover svg:last-child {
      transition: transform 0.4s linear, opacity 0.4s linear;
      transform: scale(1);
      opacity: 1; }

#loading-spinner {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader-fadeOut .6s 2s ease-in-out forwards;
          animation: loader-fadeOut .6s 2s ease-in-out forwards; }
  #loading-spinner div {
    width: 160px;
    height: 160px;
    border: 3px solid #c9c9c9;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 0px #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; }
    #loading-spinner div::before {
      content: "";
      position: absolute;
      z-index: -10;
      width: 160px;
      height: 160px;
      border-top: 3px solid #9356DC;
      border-radius: 50%;
      box-shadow: 0px -5px 12px 0px #9356DC;
      -webkit-animation: loader-rotating 1s linear infinite;
              animation: loader-rotating 1s linear infinite; }
    #loading-spinner div span {
      font-family: Shrikhand, Arial, sans-serif;
      font-size: 1.3em; }

#menu section article > div:first-child {
  flex: 1 0 70%;
  transition: flex .5s; }

#menu section article span {
  flex: 0 0 15px;
  margin-right: 15px; }

#menu section article > div:last-child {
  transition: flex .5s linear, opacity .5s linear;
  display: flex;
  overflow: hidden;
  opacity: 0;
  color: #FFF;
  font-size: 1.3em;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
  flex: 0 0 0;
  margin-right: -15px; }
  #menu section article > div:last-child i {
    font-size: 1.5em;
    transition: transform .5s linear;
    transform: rotate(90deg); }

#menu section article:hover div:first-child {
  transition-duration: 500ms;
  flex: 1; }

#menu section article:hover div:last-child {
  transition: margin-right 0s, flex .5s linear, opacity .5s linear;
  opacity: 1;
  flex: 0 0 80px; }
  #menu section article:hover div:last-child i {
    transition: transform .5s linear;
    transform: rotate(360deg);
    width: 32px; }

footer {
  background-color: #353535;
  color: #fff; }
  footer div {
    padding: 20px; }
    footer div h2 {
      font-weight: bold;
      font-family: Shrikhand, Arial, sans-serif;
      margin-bottom: 15px; }
    footer div ul li {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px; }
      footer div ul li a {
        text-decoration: none;
        color: #fff; }
      footer div ul li i {
        width: 24px; }

header {
  display: flex;
  flex-direction: column; }
  header figure {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 2px #cfcfcf;
    margin-bottom: 3px; }
    header figure img {
      margin-top: 10px;
      width: 10em; }

section {
  padding: 20px; }

header {
  margin: 0;
  flex-direction: row;
  align-items: center;
  background-color: #fff; }
  header figure {
    box-shadow: none;
    margin: 0 auto; }
  header i {
    margin-left: 30px;
    color: #000;
    font-size: 1.2em; }

main figure {
  width: 100%;
  height: 260px;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: center; }
  @media screen and (min-width: 992px) {
    main figure {
      height: 400px; }
      main figure::before {
        content: '';
        position: absolute;
        display: flex;
        left: 0;
        top: 260px;
        height: 200px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
        z-index: -10; } }
  main figure img {
    z-index: -100;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; }

main #menu {
  max-width: 992px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    main #menu {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (min-width: 992px) {
    main #menu {
      margin-top: -160px; } }
  main #menu h1 {
    font-family: Shrikhand, arial, sans-serif;
    font-size: 1.4em;
    margin-top: 10px; }
  main #menu .heart {
    margin-top: 5px;
    line-height: 2em; }
  main #menu a {
    color: #000;
    font-weight: 100;
    display: flex;
    align-items: center;
    text-decoration: none; }
    main #menu a i {
      line-height: 2em;
      margin-right: 10px;
      font-size: 1.2em; }
  main #menu button {
    margin: 0 auto; }
  main #menu section {
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    min-width: 0; }
    main #menu section h2 {
      flex-basis: 100%;
      text-transform: uppercase; }
      main #menu section h2::after {
        content: "";
        display: flex;
        width: 40px;
        height: 3px;
        background-color: #99E2D0;
        margin-top: 5px;
        margin-bottom: 15px; }
    main #menu section article {
      background-color: #FFF;
      border-radius: 20px;
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      flex: 1 0 100%;
      height: 80px;
      box-shadow: 0px 3px 8px #e5e5e5;
      padding-left: 15px;
      padding-right: 15px;
      min-width: 0; }
      main #menu section article > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        min-width: 0; }
        main #menu section article > div:first-child h3 {
          font-weight: bold 100;
          font-size: 1.1em;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
        main #menu section article > div:first-child p {
          margin-top: 5px;
          font-weight: 100;
          font-size: 1em;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
      main #menu section article span {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        justify-content: right; }

